db/
temp/
app/scraper/logistical_utils
app/scraper/scripts
app/scraper/hti/twitter_api_client
app/scraper/hti/twitterActions_api.py
dump.rdb
app/.env

# Ignore everything in output directories
/output/data/*
/output/logs/*

# But keep the .gitkeep files
!/output/data/.gitkeep
!/output/logs/.gitkeep

# PyCharm cache files
__pycache__/
*.py[cod]
*$py.class
.idea/
.pytest_cache/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride